/************font family************/
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

/************Colors************/
:root {
  /* Primary */
  --DarkViolet: hsl(256, 26%, 20%);
  --GrayishBlue: hsl(216, 30%, 68%);

  /* Neutral */
  --VeryDarkViolet: hsl(270, 9%, 17%);
  --DarkGrayishViolet: hsl(273, 4%, 51%);
  --VeryLightGray: hsl(0, 0%, 98%);
}

/***********CSS reset**************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Karla", sans-serif;
}
body {
  font-size: 1.6rem;
  color: var(--VeryLightGray);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.btn {
  padding: 1rem 2.7rem;
  display: block;
}
.btn--violet {
  color: var(--VeryDarkViolet);
  border: 2px solid var(--VeryDarkViolet);
}
.btn--white {
  color: var(--VeryLightGray);
  border: 2px solid var(--VeryLightGray);
  background-color: var(--DarkViolet);
}
h1,
h2,
h3 {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
}
header img {
  height: auto;
  width: 100%;
}
p {
  line-height: 1.7;
}
/*************header***************/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 10vh;
}
.hamburger {
  display: none;
  border: 2px solid #101010;
  padding: 0.5rem;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--VeryDarkViolet);
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
}
.nav-item {
  margin-left: 5rem;
}
.nav-link:not(:last-child) {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--VeryDarkViolet);
}
.hero {
  background-color: var(--DarkViolet);
  color: var(--VeryLightGray);
  position: relative;
  height: 100%;
  width: 100%;
}
.hero__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 90%;
  margin: auto;
  max-width: 1200px;
}
.hero__left {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  z-index: 9;
}
.hero__left::after {
  content: url("/images/bg-pattern-intro-left-desktop.svg");
  position: absolute;
  top: 300px;
  left: 0;
}
.hero::after {
  content: url("/images/bg-pattern-intro-right-desktop.svg");
  position: absolute;
  top: -8rem;
  right: 0;
}
.hero__img-mobile {
  display: none;
}
.hero__title {
  font-size: 8rem;
  line-height: 1;
}
.hero__img-desktop {
  display: block;
}
.hero__img {
  position: relative;
  top: 150px;
  width: 90%;
  left: 0;
}
hr {
  width: 30%;
  max-width: 200px;
}
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 10rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 2.5rem 0;
  }
  .hero__left::after {
    top: 60%;
    text-align: left;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
@media only screen and (max-width: 950px) {
  .hero__img {
    top: 0;
    width: 100%;
  }
  .hero__title {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 730px) {
  .hero__content {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0;
    gap: 6rem;
  }
  .hero__left::after {
    content: url("/images/bg-pattern-intro-left-mobile.svg");
  }
  .hero::after {
    content: url("/images/bg-pattern-intro-right-mobile.svg");
    top: 90%;
  }
  .hero__img {
    top: 0;
    width: 100%;
  }
  .hero__img-desktop {
    width: 100%;
  }
  .hero__left {
    order: 2;
    padding: 5rem 0;
    text-align: center;
    align-items: center;
  }
  .hero__right {
    order: 1;
  }
}

/************offer*****************/
.offer {
  max-width: 1200px;
  margin: 200px auto 100px auto;
  width: 90%;
}
.offer__content {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.offer__title {
  margin-bottom: 2rem;
}
.offer__row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.offer__row .column {
  max-width: 500px;
  min-width: 250px;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.offer__row .column .title {
  font-size: 3rem;
  color: var(--VeryDarkViolet);
}
.offer__row .column p {
  color: var(--DarkGrayishViolet);
}
.offer__title {
  font-size: 5rem;
  color: var(--VeryDarkViolet);
}
@media only screen and (max-width: 768px) {
  .offer__content {
    align-items: center;
  }
  .offer__row {
    justify-content: center;
    text-align: center;
  }
  .offer__row .column {
    width: 100%;
    min-width: 100%;
    align-items: center;
  }
  .offer__title {
    font-size: 3.5rem;
    text-align: center;
  }
  .offer__row .column .title {
    font-size: 2.2rem;
    color: var(--VeryDarkViolet);
  }
}

/**********call-to-action***********/
.call-to-action {
  background-color: var(--DarkViolet);
  max-width: 1200px;
  margin: auto;
  position: relative;
  max-height: 200px;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: flex-end;
  padding: 60px 30px;
  background-image: url("/images/bg-pattern-how-we-work-desktop.svg");
  background-repeat: no-repeat;
  background-position: top right;
  align-content: center;
  gap: 1rem;
  margin-bottom: 100px;
  border-radius: 5px;
}
.call-to-action h2 {
  font-size: 5.2rem;
  line-height: 1;
}
@media only screen and (max-width: 960px) {
  .call-to-action h2 {
    text-align: center;
    font-size: 3.4rem;
  }
}
@media only screen and (max-width: 760px) {
  .call-to-action {
    grid-template-columns: 1fr;
    justify-items: center;
    /* min-height: 250px; */
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url("/images/bg-pattern-how-we-work-mobile.svg");
    gap: 2rem;
  }
}
@media only screen and (max-width: 400px) {
  .call-to-action h2 {
    font-size: 2.4rem;
  }
}
